﻿@model List<NeuroCloud.UI.Site.ViewModels.Patients.SearchPatientsResultViewModel>

<div class="row">&nbsp; &nbsp; </div>
<div id="searchResult" class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ">
    @if (Model != null && Model.Any())
    {
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Sobrenome</th>
                    <th>CPF</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td data-title="Nome">@Html.ActionLink(item.FirstName, "EditarPaciente", "Pacientes", new {id = item.Id}, null)</td>
                        <td data-title="Nome">@item.LastName</td>
                        <td data-title="Nome">@item.CPF</td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <h4>Nenhum registro encontrado.</h4>
    }
</div>

