﻿@using NeuroCloud.Domain.Enums
@model NeuroCloud.UI.Site.ViewModels.Patients.CrudPatientViewModel

@{
    ViewBag.Title = Model.Id == 0 ? "NeuroCloud - Pacientes / Novo Paciente" : "NeuroCloud - Pacientes / Editar Paciente";
    var action = Model.Id == 0 ? "NovoPaciente" : "SalvarPaciente";
}

@section scripts
{
    <script src="~/Content/JS/Patients/CrudPatients.js"></script>
}


<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    @if (Model.Id == 0)
    {
        <h3 id="title">Novo Paciente</h3>

        <ul class="breadcrumb">
            <li><a href="@Url.Action("Index","Usuarios")">Inicial</a></li>
            <li><a href="@Url.Action("ListarPacientes", "Pacientes")">Listar Pacientes</a></li>
            <li id="breadCrumb" class="active">Novo Paciente</li>
        </ul>
    }
    else
    {
        <h3 id="title">Editar Paciente</h3>

        <ul class="breadcrumb">
            <li><a href="@Url.Action("Index","Usuarios")">Inicial</a></li>
            <li><a href="@Url.Action("ListarPacientes", "Pacientes")">Listar Pacientes</a></li>
            <li id="breadCrumb" class="active">Editar Paciente</li>
        </ul>    
    }

</div>

@using (Html.BeginForm(action, "Pacientes", FormMethod.Post, new { id = "frmPatient" }))
{
    <input type="hidden" id="Id" name="Id" value="@Model.Id"/>
    
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <fieldset>
            <legend>Dados Pessoais</legend>
            <div class="row">
                <div class="col-xs-12 col-lg-12">
                    <div class="form-group">
                        <label for="FirstName" class="col-xs-4 col-sm-1 col-md-1 col-lg-1 control-label">Nome</label>
                        <div class="col-xs-8 col-sm-5 col-md-5  col-lg-3">
                            <input type="text" class="form-control" id="FirstName" name="FirstName" placeholder="Nome" maxlength="50" value="@Model.FirstName">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="LastName" class="col-xs-4 col-sm-2 col-md-2 col-lg-1 control-label">Sobrenome</label>
                        <div class="col-xs-8 col-sm-4 col-md-4 col-lg-3">
                            <input type="text" class="form-control" id="LastName" name="LastName" placeholder="Sobrenome" maxlength="50" value="@Model.LastName">
                        </div>
                    </div>

                    <div class="clearfix visible-sm visible-md">
                        &nbsp;
                    </div>

                    <div class="form-group">
                        <label for="RG" class="col-xs-4 col-sm-2 col-md-2 col-lg-2 control-label visible-lg">Data Nascimento</label>
                        <label for="RG" class="col-xs-4 col-sm-1 col-md-1 control-label hidden-lg">Nasc.</label>
                        <div class="col-xs-8 col-sm-2 col-md-2 col-lg-2">
                            <input type="text" class="form-control" id="BirthDate" name="BirthDate" placeholder="Data Nascimento" value="@(Model.BirthDate.HasValue ? Model.BirthDate.Value.ToString("dd/MM/yyyy") : string.Empty)">
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>

        <div class="row">
            <div class="col-xs-12 col-lg-12">
                <div class="form-group">
                    <label for="RG" class="col-xs-4 col-sm-1 col-md-1 col-lg-1 control-label">RG</label>
                    <div class="col-xs-8 col-sm-3 col-md-3 col-lg-2">
                        <input type="text" class="form-control" id="RG" name="RG" placeholder="RG" maxlength="15" value="@Model.RG">
                    </div>
                </div>

                <div class="col-lg-1 col-sm-2 col-md-2 hidden-xs">
                </div>

                <div class="form-group">
                    <label for="CPF" class="col-xs-4 col-sm-2 col-md-2 col-lg-1 control-label">CPF</label>
                    <div class="col-xs-8 col-sm-3 col-md-2 col-lg-2">
                        <input type="text" class="form-control" id="CPF" name="CPF" placeholder="CPF" maxlength="14" value="@Model.CPF">
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-lg-12">
                <div class="form-group">
                    <label for="Email" class="col-xs-4 col-sm-1 col-md-1 col-lg-1 control-label">Email</label>
                    <div class="col-xs-8 col-sm-4 col-md-3 col-lg-3">
                        <input type="text" class="form-control" id="Email" name="Email" placeholder="E-mail" maxlength="50" value="@Model.Email">
                    </div>
                </div>

                <div class="col-lg-1 col-sm-1 col-md-2 hidden-lg hidden-xs">
                </div>

                <div class="form-group">
                    <label for="Sex" class="col-xs-4 col-sm-2 col-md-2 col-lg-1 control-label">Sexo</label>
                    <div class="col-xs-4 col-sm-2 col-md-2 col-lg-3">
                        <select id="Sex" name="Sex" class="form-control">
                            <option value="0">Selecione...</option>

                            @if (Model.Sex == 0)
                            {
                                <option value="@((int)Sex.Male)">Masculino</option>
                                <option value="@((int)Sex.Female)">Feminino</option>
                            }
                            else if (Model.Sex == (int)Sex.Male)
                            {
                                <option value="@((int)Sex.Male)" selected="selected">Masculino</option>
                                <option value="@((int)Sex.Female)">Feminino</option>
                            }
                            else
                            {
                                <option value="@((int)Sex.Male)">Masculino</option>
                                <option value="@((int)Sex.Female)" selected="selected">Feminino</option>
                            }
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br />
    
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <fieldset>
            <legend>Endereço</legend>
            <div class="row">
                <div class="col-xs-12 col-lg-12">
                    <div class="form-group">
                        <label for="Street" class="col-xs-4 col-sm-1 col-md-1 col-lg-1 control-label">Rua</label>
                        <div class="col-xs-8 col-sm-7 col-md-7 col-lg-5">
                            <input type="text" class="form-control" id="Street" name="Street" placeholder="Rua" maxlength="100" value="@Model.Street">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="Number" class="col-xs-4 col-sm-2 col-md-2 col-lg-1 control-label">Número</label>
                        <div class="col-xs-8 col-sm-2 col-md-2 col-lg-1">
                            <input type="text" class="form-control" id="Number" name="Number" placeholder="Nº" maxlength="5" value="@Model.Number">
                        </div>
                    </div>
                    <div class="clearfix visible-sm visible-md">
                        &nbsp;
                    </div>
                    <div class="form-group">
                        <label for="Complement" class="col-xs-4 col-sm-1 col-md-1 col-lg-1 control-label">Compl.</label>
                        <div class="col-xs-8 col-sm-7 col-md-7 col-lg-3">
                            <input type="text" class="form-control" id="Complement" name="Complement" placeholder="Complemento" maxlength="50" value="@Model.Complement">
                        </div>
                    </div>
                </div>

            </div>

            <div class="row">
                <div class="col-xs-12 col-lg-12">

                    <div class="form-group">
                        <label for="District" class="col-xs-4 col-sm-1 col-md-1 col-lg-1 control-label">Bairro</label>
                        <div class="col-xs-8 col-sm-7 col-md-7 col-lg-5">
                            <input type="text" class="form-control" id="District" name="District" placeholder="Bairro" maxlength="100" value="@Model.District">
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12 col-lg-12">
                    <div class="form-group">
                        <label for="City" class="col-xs-4 col-sm-1 col-md-1 col-lg-1 control-label">Cidade</label>
                        <div class="col-xs-8 col-sm-7 col-md-7 col-lg-5">
                            <input type="text" class="form-control" id="City" name="City" placeholder="Cidade" maxlength="100" value="@Model.City">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="State" class="col-xs-4 col-sm-2 col-md-2 col-lg-1 control-label">UF</label>
                        <div class="col-xs-8 col-sm-2 col-md-2 col-lg-1">
                            <input type="text" class="form-control" id="State" name="State" placeholder="UF" maxlength="2" value="@Model.State">
                        </div>
                    </div>
                    <div class="clearfix visible-sm visible-md ">
                        &nbsp;
                    </div>
                    <div class="form-group">
                        <label for="ZipCode" class="col-xs-4 col-sm-1 col-md-1 col-lg-1 control-label">CEP</label>
                        <div class="col-xs-8 col-sm-3 col-md-2 col-lg-2">
                            <input type="text" class="form-control" id="ZipCode" name="ZipCode" placeholder="CEP" maxlength="100" value="@Model.ZipCode">
                        </div>
                    </div>
                </div>

            </div>
        </fieldset>

        <br />

        <div class="col-xs-12 col-lg-12">
            <div class="row">
                <fieldset>
                    <legend>Telefones</legend>
                    <div class="col-xs-12 col-lg-12">
                        <div class="form-group">
                            <label for="Cellphone" class="col-xs-4 col-sm-2 col-md-1 col-lg-1 control-label">Celular</label>
                            <div class="col-xs-8 col-sm-3 col-md-2 col-lg-2">
                                <input type="text" class="form-control" id="Cellphone" name="Cellphone" placeholder="Celular" maxlength="15" value="@Model.Cellphone">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="HomePhone" class="col-xs-4 col-sm-2 col-md-1 col-lg-1 control-label">Residencial</label>
                            <div class="col-xs-8 col-sm-3 col-md-2 col-lg-2">
                                <input type="text" class="form-control" id="HomePhone" name="HomePhone" placeholder="Residencial" maxlength="15" value="@Model.HomePhone">
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>

        </div>
    </div>
    
    <br/>
    
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <hr />

        <div id="crudActions">
            <button id="btnSave" type="button" class="btn btn-success" style="margin-right: 10px;">Salvar</button>
            <button id="btnDelete" type="button" class="btn btn-danger" style="margin-right: 10px;">Excluir</button>
            <button id="btnBack" type="button" class="btn btn-primary" style="margin-right: 10px;">Voltar</button>
        </div>
    </div>
}
