﻿@{
    ViewBag.Title = "NeuroCloud - Pacientes / Listagem de Pacientes";
}

@section scripts
{
    <script src="~/Content/JS/Patients/ListPatients.js"></script>
}

<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <h3>Listagem de Pacientes</h3>

    <ul class="breadcrumb">
        <li><a href="@Url.Action("Index", "Usuarios")">Inicial</a></li>
        <li class="active">Listar Pacientes</li>
    </ul>
</div>

<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div id="searchTerms">
        <div class="row">
            <div class="form-group">
                <label for="FullName" class="col-xs-2 col-sm-1 col-md-1 col-lg-1 control-label">Nome</label>
                <div class="col-xs-10 col-sm-3 col-md-4 col-lg-3">
                    <input type="text" class="form-control" id="FullName" placeholder="Nome">
                </div>
                <div class="clearfix visible-xs">
                    &nbsp; 
                </div>
                <label for="CPF" class="col-xs-2 col-sm-1 col-md-1 col-lg-1 control-label">CPF</label>
                <div class="col-xs-10 col-sm-3 col-md-4 col-lg-3">
                    <input type="text" class="form-control" name="CPF" id="CPF" placeholder="CPF" />
                </div>

                <div class="clearfix visible-xs col-xs-12">
                    &nbsp; 
                </div>

                <div class="visible-xs col-xs-2">
                </div>
                <div class="col-xs-10 col-sm-3 col-md-2 col-lg-2 ">
                    <button id="btnSearch" type="button" class="btn btn-primary btn-block">Filtrar</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <hr />
</div>

<div id="paging-top-parent" class="">
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <button id="btnNew" type="button" class="btn btn-primary">Inserir</button>
    </div>

    <div id="paging-top" class="col-xs-12 col-sm-6 col-md-6 col-lg-6 visible-lg visible-md">
    </div>
</div>
<br class="hidden-xs" />

<div id="results">
</div>

<div id="paging-bottom-mobile" class="col-xs-12 visible-xs">
</div>


<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <hr />
</div>

<div id="paging-bottom-parent" class="">
    <div id="listActions" class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <button id="btnView" type="button" class="btn btn-primary disabled" style="margin-right: 10px;">Consultar</button>
        <button id="btnEdit" type="button" class="btn btn-primary disabled" style="margin-right: 10px;">Alterar</button>
        <button id="btnDelete" type="button" class="btn btn-danger disabled" style="margin-right: 10px;">Excluir</button>
    </div>
    <div id="paging-bottom" class="col-xs-12 col-sm-6 col-md-6 col-lg-6 hidden-xs">
</div>
</div>
