﻿@using NeuroCloud.Domain.QueryObjects
@model IList<NeuroCloud.UI.Site.ViewModels.Groups.SearchGroupsResultsViewModel>

<div class="row">&nbsp; &nbsp; </div>
<div id="searchResult" class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ">
    @if (Model != null && Model.Any())
    {
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Nome</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td data-title="Nome">@Html.ActionLink(item.Description, "EditarGrupo", "Grupos", new {id = item.Id}, null)</td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <h4>Nenhum registro encontrado.</h4>
    }
</div>

