﻿@model NeuroCloud.UI.Site.ViewModels.Groups.CrudGroupViewModel

@using NeuroCloud.Domain.Enums
@{
    ViewBag.Title = Model.Id == 0 ? "NeuroCloud - Grupos / Novo Grupo" : "NeuroCloud - Grupos / Editar Grupo";
    var action = Model.Id == 0 ? "NovoGrupo" : "SalvarGrupo";
}

@section scripts
{
    <script src="~/Content/JS/Groups/CrudGroup.js"></script>
}

<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    @if (Model.Id > 0)
    {
        <h3 id="title">Editar Grupo</h3>

        <ul class="breadcrumb">
            <li><a href="@Url.Action("Index","Usuarios")">Inicial</a></li>
            <li><a href="@Url.Action("Index", "Grupos")">Listar Grupos</a></li>
            <li id="breadCrumb" class="active">Editar Grupo</li>
        </ul>
    }
    else
    {
        <h3 id="title">Novo Grupo</h3>

        <ul class="breadcrumb">
            <li><a href="@Url.Action("Index","Usuarios")">Inicial</a></li>
            <li><a href="@Url.Action("Index", "Grupos")">Listar Grupos</a></li>
            <li id="breadCrumb" class="active">Novo Grupo</li>
        </ul>    
    }

</div>

@using (Html.BeginForm(action, "Grupos", FormMethod.Post, new { id = "frmGroup" }))
{
    <input type="hidden" id="Id" name="Id" value="@Model.Id"/>
    
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <fieldset>
            <legend>Dados do Grupo</legend>

            <div class="row">
                <div class="col-xs-12 col-lg-12">
                    <div class="form-group">
                        <label for="Description" class="col-xs-4 col-sm-2 col-md-2 col-lg-1 control-label">Descrição</label>
                        <div class="col-xs-8 col-sm-4 col-md-3 col-lg-3">
                            <input type="text" class="form-control" id="Description" name="Description" placeholder="Nome" maxlength="50" value="@Model.Description">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="Status" class="col-xs-4 col-sm-2 col-md-2 col-lg-1 control-label">Status</label>

                        <div class="col-xs-4 col-sm-2 col-md-2 col-lg-2">
                            @if (Model.Status == 0)
                            {
                                <select id="Status" name="Status" class="form-control">
                                    <option value="0" selected="selected">Selecione...</option>
                                    <option value="@((int)Status.Active)" >Ativo</option>
                                    <option value="@((int)Status.Inactive)">Inativo</option>
                                </select>    
                            }
                            else if (Model.Status == (int)Status.Active)
                            {
                                <select id="Status" name="Status" class="form-control">
                                    <option value="0">Selecione...</option>
                                    <option value="@((int)Status.Active)" selected="selected" >Ativo</option>
                                    <option value="@((int)Status.Inactive)">Inativo</option>
                                </select>
                            }
                            else
                            {
                                <select id="Status" name="Status" class="form-control">
                                    <option value="0">Selecione...</option>
                                    <option value="@((int)Status.Active)" >Ativo</option>
                                    <option value="@((int)Status.Inactive)"  selected="selected">Inativo</option>
                                </select>
                            }

                        </div>

                    </div>
                </div>
            </div>

        </fieldset>

        <br />

        <fieldset>
            <legend>Menus Disponíveis</legend>

            <div class="row">
                <div class="col-lg-12">
                    <div class="form-group">
                        <label class="col-xs-4 col-sm-1 col-md-1 col-lg-1 control-label hidden-xs">Menu</label>
                        <div class="col-xs-8 col-sm-3 col-md-3 col-lg-3">
                            <select id="listMenus" class="form-control">
                                <option value="0">Selecione...</option>

                                @foreach (var group in Model.MenuList)
                                {
                                    if (Model.MenuIds.Count > 0 && Model.MenuIds.Count(x => x.MenuId == group.Id) > 0)
                                    {
                                    <option value="@group.Id" class="hidden" disabled="disabled">@group.Value</option>
                                    }
                                    else
                                    {
                                    <option value="@group.Id">@group.Value</option>
                                    }
                                }

                            </select>
                        </div>
                        <button id="btnAddMenu" type="button" class="btn btn-primary" style="margin-right: 10px;">+</button>
                    </div>
                </div>
            </div>
        </fieldset>
        
        <br />

        <fieldset>
            <legend>Acessos Liberados</legend>
            <div class="row">
                <div class="col-lg-4">
                    <table id="accessList" class="table table-hover relationTable">
                        <thead>
                            <tr>
                                <th>Menu</th>
                                <th>Status</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="hidden">
                                <td>
                                    <input type="hidden" value="" id="MenuId" name="MenuIds" />
                                    <span id="menuName"></span>
                                </td>
                                <td>
                                    <select id="Status" name="Status" class="form-control">
                                        <option value="0" selected="selected">Selecione...</option>
                                        <option value="@((int)Status.Active)" >Ativo</option>
                                        <option value="@((int)Status.Inactive)">Inativo</option>
                                    </select>
                                </td>
                                <td class="text-center">
                                    <button id="btnRemoveAccess" type="button" class="close" aria-hidden="true">&times;</button></td>
                            </tr>

                            @if (Model.Id > 0)
                            {
                                foreach (var menuGroup in Model.MenuIds)
                                {
                                <tr>
                                    <td>
                                        <input type="hidden" value="@menuGroup.MenuId" id="MenuId" name="MenuIds" />
                                        <span id="menuName">@menuGroup.MenuDescription</span>
                                    </td>
                                    <td>
                                        <select id="Status" name="Status" class="form-control">

                                            @if (menuGroup.IsChecked)
                                            {
                                                <option value="0">Selecione...</option>
                                                <option value="@((int)Status.Active)" selected="selected">Ativo</option>
                                                <option value="@((int)Status.Inactive)">Inativo</option>
                                            }
                                            else
                                            {
                                                <option value="0">Selecione...</option>
                                                <option value="@((int)Status.Active)">Ativo</option>
                                                <option value="@((int)Status.Inactive)" selected="selected">Inativo</option>
                                            }
                                        </select>
                                    </td>
                                    <td class="text-center">
                                        <button id="btnRemoveAccess" type="button" class="close" aria-hidden="true">&times;</button></td>
                                </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </fieldset>
    </div>
    
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <hr />

        <div id="crudActions">
            <button id="btnSave" type="button" class="btn btn-success" style="margin-right: 10px;">Salvar</button>
            <button id="btnDelete" type="button" class="btn btn-danger" style="margin-right: 10px;">Excluir</button>
            <button id="btnBack" type="button" class="btn btn-primary" style="margin-right: 10px;">Voltar</button>
        </div>
    </div>
}

