﻿@using System.Web.UI.WebControls
@model NeuroCloud.Domain.QueryObjects.QueryObjectBase
@{
    string url = string.Empty;
    var pageCount = Math.Ceiling((decimal)Model.RecordCount / Model.RecordPerPage);
}
@if (Model.RecordCount > 0)
{
    <ul class="pagination hidden-xs">
        @if (Model.CurrentPage == 1)
        {
            <li class="disabled"><a href="#">&laquo;</a></li>
        }
        else
        {
            url = Url.Action(ViewContext.Controller.ValueProvider.GetValue("action").RawValue.ToString(), ViewContext.Controller.ValueProvider.GetValue("controller").RawValue.ToString(), new {id = Model.CurrentPage - 1});
            <li><a href="@url">&laquo;</a></li>
        }

        @for (int i = 1; i <= pageCount; i++)
        {
            if (Model.CurrentPage == i)
            {
                url = Url.Action(ViewContext.Controller.ValueProvider.GetValue("action").RawValue.ToString(), ViewContext.Controller.ValueProvider.GetValue("controller").RawValue.ToString(), new {id = i});
                <li class="active"><a href="@url">@i</a></li>
            }
            else
            {
                url = Url.Action(ViewContext.Controller.ValueProvider.GetValue("action").RawValue.ToString(), ViewContext.Controller.ValueProvider.GetValue("controller").RawValue.ToString(), new {id = i});
                <li><a href="@url">@i</a></li>
            }
        }

        @if (Model.CurrentPage == pageCount)
        {
            <li class="disabled"><a href="#">&raquo;</a></li>
        }
        else
        {
            url = Url.Action(ViewContext.Controller.ValueProvider.GetValue("action").RawValue.ToString(), ViewContext.Controller.ValueProvider.GetValue("controller").RawValue.ToString(), new {id = Model.CurrentPage + 1});
            <li><a href="@url">&raquo;</a></li>
        }
    </ul>

    <ul class="pager visible-xs">
        @if (Model.CurrentPage == 1)
        {
            <li class="previous disabled"><a href="#">Anterior</a></li>
        }
        else if (Model.CurrentPage > 1)
        {
            url = Url.Action(ViewContext.Controller.ValueProvider.GetValue("action").RawValue.ToString(), ViewContext.Controller.ValueProvider.GetValue("controller").RawValue.ToString(), new {id = Model.CurrentPage - 1});

            <li class="previous">
                <input type="hidden" id="PreviousPageValue" value="@(Model.CurrentPage - 1)"/>
                <a href="@url">Anterior</a>
            </li>
        }

        @if (Model.CurrentPage == pageCount)
        {
            <li class="next disabled"><a href="#">Próxima</a></li>
        }
        else if (Model.CurrentPage < pageCount)
        {
            url = Url.Action(ViewContext.Controller.ValueProvider.GetValue("action").RawValue.ToString(), ViewContext.Controller.ValueProvider.GetValue("controller").RawValue.ToString(), new {id = Model.CurrentPage + 1});

            <li class="next">
                <input type="hidden" id="NextPageValue" value="@(Model.CurrentPage + 1)"/>
                <a href="@url">Próxima</a>
            </li>
        }
    </ul>
}