﻿@using NeuroCloud.UI.Site.ViewModels.Users
@{
    var user = ViewBag.User as UserSignedInViewModel;
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="~/Content/bootstrap/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/jquery.pnotify.default.css" rel="stylesheet" />
    <link href="~/Content/CSS/Layout.css" rel="stylesheet" />


    @RenderSection("css", false)

    <title>NeuroCloud</title>

    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <script src="~/Scripts/jquery-2.0.3.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>

    <script src="~/Scripts/jquery.maskedinput.min.js"></script>
    <script src="~/Scripts/jquery.blockUI.min.js"></script>
    <script src="~/Scripts/jquery.pnotify.min.js"></script>
    <script src="~/Scripts/bootstrap-maxlength.min.js"></script>
    <script src="~/Scripts/moment.min.js"></script>

    <script src="~/Content/JS/Util.js"></script>
    <script src="~/Content/JS/Layout/Layout.js"></script>

    <script language="javascript" type="text/javascript">
        var root = '@Url.Action("Index", "Home")';
    </script>

</head>
<body>

    <div class="header">
    </div>
    <div id="container" class="container">

        <div class="row">

            <div class="col-sm-12 col-md-12 col-lg-12">
                <div id="Menu" class="col-sm-1 col-md-1 col-lg-1 menuHeader pull-left">
                    <img src="~/Content/images/iconeMenu.png" />
                </div>

                <div class="col-sm-2 col-md-2 col-lg-2 menuHeaderLogo pull-left">
                    <img src="~/Content/images/iconeNeuroCloud.png" />
                </div>

                <div class="col-sm-4 col-md-6 col-lg-9  headerIndicators pull-right text-right visible-lg visible-md visible-sm">
                    <div class="col-md-1 col-lg-1">
                        <img src="~/Content/images/iconeUTI.png" />
                        <span class="label label-danger">100</span>
                    </div>
                    <div class="col-md-1 col-lg-1">
                        <img src="~/Content/images/iconeRetaguarda.png" />
                        <span class="label label-danger">100</span>
                    </div>
                    <div class="col-md-1 col-lg-1">
                        <img src="~/Content/images/iconeEspera.png" />
                        <span class="label label-danger">100</span>
                    </div>
                </div>

                <div id="MenuItems" class="col-xs-11 col-sm-4 col-md-4 col-lg-3">
                    <div id="menuUsername" class="col-sm-12 col-md-12 col-lg-12">
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <i class="icon-user-md icon-2x"></i>
                                <span>@user.FirstName @user.LastName</span>
                            </div>
                            @*<div class="col-xs-11 col-sm-11 col-md-11 col-lg-10">

                                </div>*@
                        </div>

                    </div>
                    <div id="menuSearch" class="col-sm-12 col-md-12 col-lg-12">
                        <h4>Pesquisa</h4>
                        <div class="col-sm-12 col-md-12 col-lg-12 menuHeaderSearch">
                            <div class="input-group">
                                <input type="text" class="form-control col-lg-12 col-sm-9" placeholder="Prontuário/Paciente">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search"></span></button>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div id="menuFeatures" class="col-sm-12 col-md-12 col-lg-12">
                        <h4>Funcionalidades</h4>

                        <div id="accordion" class="panel-group">
                            @foreach (var item in user.UserMenus)
                            {
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <span class="glyphicon glyphicon-plus-sign"></span>
                                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#@item.Id">@item.Description</a>
                                        </h4>
                                    </div>
                                    <div id="@item.Id" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <ul>
                                                @foreach (var feature in item.Features)
                                                {
                                                    if (feature.DisplayOnScreen)
                                                    {
                                                        <li><a href="@Url.Content(feature.Url)">@feature.Description</a></li>
                                                    }
                                                }
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>

                    </div>

                    <br />
                    <div class="row">
                        <div class="col-sm-9 col-lg-12">
                            <a href="/Usuarios/Logoff" class="btn btn-danger btn-block">Sair </a>
                        </div>
                    </div>
                </div>
            </div>
            @*</div>*@
        </div>

        <div id="message" class="alert hidden" style="margin-top: 5px; margin-bottom: 5px;">
            Ops! Ocorreu um erro na sua requisição.
        </div>
        <div id="body" class="row">
            @RenderBody()

            <div class="footer">
                <div style="max-width: 1170px; margin-left: auto; margin-right: auto;">
                    <ul style="list-style: none; display: inline; width: 100%; padding: 0px;">
                        <li style="display: inline; padding: 5px 10px;"><a href="#">Politica de Privacidade</a></li>
                        <li style="display: inline; padding: 5px 10px;"><a href="#">Termos e Condições de Uso</a></li>
                        <li style="display: inline; padding: 5px 10px;"><a href="#">Fale Conosco</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>






    @RenderSection("scripts", false)

</body>
</html>
