﻿@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>NeuroCloud - Autenticação</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="~/Content/bootstrap/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/CSS/Home.css" rel="stylesheet" />

    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <script src="~/Scripts/jquery-2.0.3.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>

    <script language="javascript" type="text/javascript">

        function ShowMessage(json) {

            $("#message").text(json.Message).fadeIn("slow", function () {
                setTimeout(function () { $("#message").fadeOut(); }, 5000);
            });
        }

        $(document).ready(function () {
            $("#Username").focus();

            $("#Username, #Password").keydown(function (event) {
                if (event.which == 13) {
                    $("#message").stop();
                    $("#btnLogin").click();
                }
            });

            $("#btnLogin").click(function () {

                var username = $("#Username").val();
                var password = $("#Password").val();

                if (!username) {
                    ShowMessage({ Status: "Error", Message: "Usuário é obrigatório." }, 5000);
                    $("#Username").focus();
                    return false;
                }
                else if (!password) {
                    ShowMessage({ Status: "Error", Message: "Senha é obrigatório." }, 5000);
                    $("#Password").focus();
                    return false;
                }

                var url = $("#frmLoginHome").attr("action");

                var params = {
                    username: username,
                    password: password
                };

                $.get(url, params, function (data) {
                    if (data.Status == "Success") {
                        window.location = data.RedirectTo;
                    } else {
                        ShowMessage(data, 5000);
                    }
                });
            });
        });
    </script>

</head>
<body>
    <div class="container">
        <div id="login">
            <div id="loginForm" class="row loginHeader">
                <div class="col-lg-12" style="margin-bottom: 20px;">
                    <p class="text-center logoMenor">
                        <img src="~/Content/images/logoMenor.png" />
                    </p>
                </div>

                <div class="col-lg-12">
                    <div id="message" class="alert alert-danger" style="display: none;">
                    </div>
                </div>
                <div class="col-lg-12" style="height: 200px;">
                    <form action="@Url.Action("Login", "Home")" method="GET" id="frmLoginHome">
                        <div class="col-sm-11 col-sm-offset-1 form-group">
                            <label>Usuário</label>
                            <br />
                            <input id="Username" class="form-control" type="text" placeholder="Digite seu login...">
                        </div>
                        <div class="col-sm-11 col-sm-offset-1" style="margin-top: 10px;">
                            <label>Senha</label>
                            <br />
                            <input id="Password" class="form-control" type="password" placeholder="Informe sua senha...">
                        </div>
                        <div class="col-sm-9 col-sm-offset-3" style="margin-top: 10px; margin-left: 70px;">
                            <button id="btnLogin" type="button" class="btn btn-success">Entrar</button>
                        </div>
                    </form>

                </div>
                <div class="col-lg-12" style="text-align: center; padding-top: 10px;">
                    <a href="javascript:void(0);">Esqueceu sua senha?</a>
                </div>
            </div>
    </div>
    </div>
</body>
</html>
