﻿@model IList<NeuroCloud.UI.Site.ViewModels.Rooms.SearchRoomsResultViewModel>

<div class="row">&nbsp; &nbsp; </div>
<div id="searchResult" class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ">
    @if (Model != null && Model.Any())
    {
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Descrição</th>
                    <th>Tipo</th>
                    <th>Setor</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var room in Model)
                {
                    <tr>
                        <td data-title="Descrição">@Html.ActionLink(@room.Description, "EditarQuarto", "Quartos", new {id = room.Id}, null)</td>
                        <td data-title="Tipo">@room.RoomType</td>
                        <td data-title="Setor">@room.SectorDescription</td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <h4>Nenhum registro encontrado.</h4>
    }
</div>