﻿@model NeuroCloud.UI.Site.ViewModels.Rooms.CrudRoomViewModel
@using NeuroCloud.Domain.Entities
@using NeuroCloud.Domain.Enums
@using NHibernate.Stat

@{
    ViewBag.Title = Model.Id == 0 ? "NeuroCloud - Grupos / Novo Usuário" : "NeuroCloud - Grupos / Editar Usuário";
    var action = Model.Id == 0 ? "NovoQuarto" : "SalvarQuarto";
}

@section scripts
{
    <script src="~/Content/JS/Rooms/CrudRooms.js"></script>
}

<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    @if (Model.Id > 0)
    {
        <h3 id="title">Editar Quarto</h3>

        <ul class="breadcrumb">
            <li><a href="@Url.Action("Index", "Usuarios")">Inicial</a></li>
            <li><a href="@Url.Action("ListarQuartos", "Quartos")">Listar Quartos</a></li>
            <li id="breadCrumb" class="active">Editar Quarto</li>
        </ul>
    }
    else
    {
        <h3 id="title">Novo Quarto</h3>

        <ul class="breadcrumb">
            <li><a href="@Url.Action("Index","Usuarios")">Inicial</a></li>
            <li><a href="@Url.Action("ListarQuartos", "Quartos")">Listar Quartos</a></li>
            <li id="breadCrumb" class="active">Novo Quarto</li>
        </ul>    
    }

</div>

@using (Html.BeginForm(action, "Quartos", FormMethod.Post, new { id = "frmRoom" }))
{
    <input type="hidden" id="Id" name="Id" value="@Model.Id"/>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <fieldset>
            <legend>Dados do Quarto</legend>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="form-group">
                        <label for="Description" class="col-xs-4 col-sm-2 col-md-1 col-lg-1 control-label">Descrição</label>
                        <div class="col-xs-8 col-sm-4 col-md-3 col-lg-3">
                            <input type="text" class="form-control" id="Description" name="Description" placeholder="Descrição" maxlength="50" value="@Model.Description">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="Description" class="col-xs-4 col-sm-2 col-md-1 col-lg-1 control-label">Setor</label>
                        <div class="col-xs-8 col-sm-4 col-md-3 col-lg-3">
                            <select class="form-control" id="SectorId" name="SectorId">
                                <option>Selecione</option>

                                @foreach (var sector in Model.Sectors)
                                {
                                    if (sector.Id == Model.SectorId)
                                    {
                                    <option value="@sector.Id" selected="selected">@sector.Value</option>
                                    }
                                    else
                                    {
                                    <option value="@sector.Id">@sector.Value</option>
                                    }
                                }
                            </select>
                        </div>
                    </div>

                    <div class="clearfix visible-sm">
                        &nbsp;
                    </div>
                    <div class="form-group">
                        <label for="Description" class="col-xs-4 col-sm-2 col-md-1 col-lg-1 control-label">Tipo Quarto</label>
                        <div class="col-xs-4 col-sm-2 col-md-2 col-lg-2">
                            <select id="RoomType" name="RoomType" class="form-control">
                                @if (Model.RoomType == 0)
                                {
                                    <option value="0" selected="selected">Selecione...</option>
                                    <option value="@((int)RoomType.Private)">Individual</option>
                                    <option value="@((int)RoomType.Collective)">Coletivo</option>
                                }
                                else if (Model.RoomType == (int)RoomType.Private)
                                {
                                    <option value="0">Selecione...</option>
                                    <option value="@((int)RoomType.Private)" selected="selected">Individual</option>
                                    <option value="@((int)RoomType.Collective)">Coletivo</option>
                                }
                                else
                                {
                                    <option value="0">Selecione...</option>
                                    <option value="@((int)RoomType.Private)" >Individual</option>
                                    <option value="@((int)RoomType.Collective)" selected="selected">Coletivo</option>
                                }
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                </div>
            </div>
        </fieldset>
    </div>
    <br />
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

        <div id="Beds" class="hidden">
            <fieldset>
                <legend>Leitos</legend>
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="form-group">
                            <label for="Description" class="col-xs-4 col-sm-2 col-md-2 col-lg-1 control-label hidden-xs">Descrição</label>
                            <div class="col-xs-8 col-sm-4 col-md-3 col-lg-3">
                                <input type="text" class="form-control" id="bedDesc" name="Description" placeholder="Descrição" maxlength="50">
                            </div>
                        </div>
                        <button id="btnAddBed" type="button" class="btn btn-success">+</button>
                    </div>
                </div>
            </fieldset>
            <br />
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
                        <table id="bedList" class="table table-hover relationTable">
                            <thead>
                                <tr>
                                    <th>Descrição</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="hidden">
                                    <td data-title="Descrição">
                                        <input type="text" id="BedDescription" class="form-control" placeholder="Descrição..." maxlength="50" />
                                    </td>
                                    <td class="text-center">
                                        <button id="btnRemoveBed" type="button" class="close" aria-hidden="true">&times;</button>
                                    </td>
                                </tr>

                                @if (Model.Beds.Any())
                                {
                                    foreach (var bed in Model.Beds)
                                    {
                                    <tr>
                                        <td data-title="Descrição">
                                            <input type="text" id="BedDescription" class="form-control" placeholder="Descrição..." maxlength="50" value="@bed.Value" />
                                        </td>
                                        <td class="text-center">
                                            <button id="btnRemoveBed" type="button" class="close" aria-hidden="true">&times;</button>
                                        </td>
                                    </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <hr />

        <div id="crudActions">
            <button id="btnSave" type="button" class="btn btn-success" style="margin-right: 10px;">Salvar</button>
            <button id="btnDelete" type="button" class="btn btn-danger" style="margin-right: 10px;">Excluir</button>
            <button id="btnBack" type="button" class="btn btn-primary" style="margin-right: 10px;">Voltar</button>
        </div>
    </div>
}