﻿@using NeuroCloud.Domain.QueryObjects
@model IList<NeuroCloud.UI.Site.ViewModels.Users.SearchUsersResultsViewModel>
@{
    var queryObject = ViewData["QueryObject"] as SearchUserQueryObject;
}

<div class="row">&nbsp; &nbsp; </div>
<div id="searchResult" class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ">
    @if (Model != null && Model.Any())
    {
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Sobrenome</th>
                    <th>CPF</th>
                    <th>Registro</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var user in Model)
                {
                    <tr>
                        <td data-title="Nome">
                            <input type="Id" value="@user.Id"/>
                            @Html.ActionLink(@user.FirstName, "EditarUsuario", "Usuarios", new {id = user.Id}, null)
                        </td>
                        <td data-title="Sobrenome">@user.LastName</td>
                        <td data-title="CPF">@user.CPF</td>
                        <td data-title="Registro">@user.Record</td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <h4>Nenhum registro encontrado.</h4>
    }
</div>

