﻿@model NeuroCloud.UI.Site.ViewModels.Users.CrudUserViewModel

@{
    ViewBag.Title = Model.Id == 0 ? "NeuroCloud - Grupos / Novo Usuário" : "NeuroCloud - Grupos / Editar Usuário";
    var action = Model.Id == 0 ? "NovoUsuario" : "SalvarUsuario";
}

@section scripts
{
    <script src="~/Content/JS/Users/CrudUser.js"></script>
}

<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
     @if (Model.Id > 0)
    {
        <h3 id="title">Editar Usuário</h3>

        <ul class="breadcrumb">
            <li><a href="@Url.Action("Index", "Usuarios")">Inicial</a></li>
            <li><a href="@Url.Action("ListarUsuarios", "Usuarios")">Listar Usuários</a></li>
            <li id="breadCrumb" class="active">Editar Usuário</li>
        </ul>
    }
    else
    {
        <h3 id="title">Novo Usuário</h3>

        <ul class="breadcrumb">
            <li><a href="@Url.Action("Index", "Usuarios")">Inicial</a></li>
            <li><a href="@Url.Action("ListarUsuarios", "Usuarios")">Listar Usuários</a></li>
            <li id="breadCrumb" class="active">Novo Usuário</li>
        </ul>
    }
</div>

@using (Html.BeginForm(action, "Usuarios", FormMethod.Post, new { id = "frmUser" }))
{
    <input type="hidden" id="Id" name="Id" value="@Model.Id"/>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <fieldset>
            <legend>Dados Pessoais</legend>

            <div class="row">
                <div class="col-xs-12 col-lg-12">
                    <div class="form-group">
                        <label for="FirstName" class="col-xs-4 col-sm-1 col-md-1 col-lg-1 control-label">Nome</label>
                        <div class="col-xs-8 col-sm-4 col-md-3 col-lg-3">
                            <input type="text" class="form-control" id="FirstName" name="FirstName" placeholder="Nome" maxlength="50" value="@Model.FirstName">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="LastName" class="col-xs-4 col-sm-2 col-md-2 col-lg-1 control-label">Sobrenome</label>
                        <div class="col-xs-8 col-sm-5 col-md-3 col-lg-3">
                            <input type="text" class="form-control" id="LastName" name="LastName" placeholder="Sobrenome" maxlength="50" value="@Model.LastName">
                        </div>
                    </div>
                    <div class="clearfix visible-sm ">
                        &nbsp;
                    </div>
                    <div class="form-group">
                        <label for="RG" class="col-xs-4 col-sm-1 col-md-2 col-lg-2 control-label visible-lg">Data Nascimento</label>
                        <label for="RG" class="col-xs-4 col-sm-1 col-md-1 control-label hidden-lg">Nasc.</label>
                        <div class="col-xs-8 col-sm-3 col-md-2 col-lg-2">
                            <input type="text" class="form-control" id="BirthDate" name="BirthDate" placeholder="Data Nascimento" value="@(Model.BirthDate.HasValue ? Model.BirthDate.Value.ToString("dd/MM/yyyy") : string.Empty)">
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12 col-lg-12">
                    <div class="form-group">
                        <label for="RG" class="col-xs-4 col-sm-1 col-md-1 col-lg-1 control-label">RG</label>
                        <div class="col-xs-8 col-sm-4 col-md-3 col-lg-2">
                            <input type="text" class="form-control" id="RG" name="RG" placeholder="RG" maxlength="15" value="@Model.RG">
                        </div>
                    </div>

                    <div class="col-lg-1 visible-lg">
                    </div>

                    <div class="form-group">
                        <label for="CPF" class="col-xs-4 col-sm-2 col-md-2 col-lg-1 control-label">CPF</label>
                        <div class="col-xs-8 col-sm-3 col-md-2 col-lg-2">
                            <input type="text" class="form-control" id="CPF" name="CPF" placeholder="CPF" maxlength="14" value="@Model.CPF">
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12 col-lg-12">
                    <div class="form-group">
                        <label for="Email" class="col-xs-4 col-sm-1 col-md-1 col-lg-1 control-label">Email</label>
                        <div class="col-xs-8 col-sm-4 col-md-3 col-lg-3">
                            <input type="text" class="form-control" id="Email" name="Email" placeholder="E-mail" maxlength="50" value="@Model.Email">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="Record" class="col-xs-4 col-sm-2 col-md-2 col-lg-1 control-label">Registro</label>
                        <div class="col-xs-8 col-sm-4 col-md-3 col-lg-2">
                            <input type="text" class="form-control" id="Record" name="Record" placeholder="Registro" maxlength="15" value="@Model.Record">
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>
    </div>
    
    <div class="row">
        <br />
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <fieldset>
            <legend>Dados de Acesso</legend>

            <div class="row">
                <div class="col-lg-12">
                    <div class="form-group">
                        <label for="Login" class="col-xs-4 col-sm-1 col-md-1 col-lg-1 control-label">Usuário</label>
                        <div class="col-xs-8 col-sm-4 col-md-3 col-lg-3">
                            <input type="text" class="form-control" id="Login" name="Login" placeholder="Login" maxlength="20" value="@Model.Login">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="Password" class="col-xs-4 col-sm-2 col-md-1 col-lg-1 control-label">Senha</label>
                        <div class="col-xs-8 col-sm-4 col-md-3 col-lg-3">
                            <input type="password" class="form-control" id="Password" name="Password" placeholder="Senha" maxlength="15">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="form-group">
                        <label for="SectorId" class="col-xs-4 col-sm-1 col-md-1 col-lg-1 control-label">Setor</label>
                        <div class="col-xs-8 col-sm-3 col-md-3 col-lg-3">
                            <select id="SectorId" name="SectorId" class="form-control">
                                <option value="0">Selecione...</option>
                                @foreach (var sector in Model.Sectors)
                                {
                                    if (Model.SectorId > 0 && Model.SectorId == sector.Id)
                                    {
                                    <option value="@sector.Id" selected="selected">@sector.Value</option>
                                    }
                                    else
                                    {
                                    <option value="@sector.Id">@sector.Value</option>    
                                    }
                                }
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>
    </div>
    <br />
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <fieldset>
            <legend>Grupos do Usuário</legend>

            <div class="row">
                <div class="form-group">
                    <br class="hidden-xs" />
                    <label class="col-xs-4 col-sm-1 col-md-1 col-lg-1 control-label hidden-xs">Grupo</label>
                    <div class="col-xs-10 col-sm-3 col-md-3 col-lg-3">
                        <select id="listGroups" class="form-control">
                            <option value="0">Selecione...</option>

                            @foreach (var group in Model.Groups)
                            {
                                if (Model.GroupsIds.Count > 0 && Model.GroupsIds.Count(x => x.Id == group.Id) > 0)
                                {
                                <option value="@group.Id" class="hidden" disabled="disabled">@group.Value</option>
                                }
                                else
                                {
                                <option value="@group.Id">@group.Value</option>
                                }
                            }

                        </select>
                    </div>
                    <button id="btnAddGroup" type="button" class="btn btn-primary" style="margin-right: 10px;">+</button>
                </div>
            </div>
        </fieldset>
    </div>
    <br />
    <div class="row">
        <div id="UserGroups">
            <div id="grouListItem" class="col-sm-7 col-lg-12">
                <div class="col-lg-6">
                    <table class="table table-striped relationTable">
                        <thead>
                            <tr>
                                <th>Grupo</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>

                            <tr id="sample" class="hidden">
                                <td>
                                    <input type="hidden" name="GroupId" id="GroupId" />
                                    <span id="groupName"></span></td>
                                <td>
                                    <button id="btnRemoveGroup" type="button" class="close" aria-hidden="true">&times;</button>
                                </td>
                            </tr>
                            @if (Model.Id > 0)
                            {
                                foreach (var group in Model.Groups)
                                {
                                    if (Model.GroupsIds.Select(x => x.Id).Contains(group.Id))
                                    {
                                <tr>
                                    <td>
                                        <input type="hidden" name="GroupId" id="GroupId" value="@group.Id" />
                                        <span id="groupName">@group.Value</span></td>
                                    <td>
                                        <button id="btnRemoveGroup" type="button" class="close" aria-hidden="true">&times;</button>
                                    </td>
                                </tr>
                                    }
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <hr />

        <div id="crudActions">
            <button id="btnSave" type="button" class="btn btn-success" style="margin-right: 10px;">Salvar</button>
            <button id="btnDelete" type="button" class="btn btn-danger" style="margin-right: 10px;">Excluir</button>
            <button id="btnBack" type="button" class="btn btn-primary" style="margin-right: 10px;">Voltar</button>
        </div>
    </div>
    
    
}
