﻿@section css
{
    <link href="~/Content/CSS/Users/Users.css" rel="stylesheet" />
}

<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="row">
        <div id="userInfo" class="col-xs-12 col-sm-3 col-lg-3">
            <h4>Bem-vindo!</h4>
            <div class="col-lg-10">
                <span>Olá, Usuário!</span>
            </div>
            <div class="col-lg-2">
                <div class="btn-group">
                    <button class="btn btn-default btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                        <i class="icon-cog"></i><span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a href="#">Perfil</a></li>
                        <li><a href="#">Opções</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Sair</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="clearfix visible-xs">
            &nbsp;
        </div>

        <div class="col-xs-12 col-sm-4 col-lg-3">
            <h4>Sumário</h4>
            <ul>
                <li><i class="icon-warning-sign"></i> 30 pacientes na UTI</li>
                <li><i class="icon-eye-open"></i> 20 pacientes nos Leitos de Retaguarda</li>
                <li><i class="icon-time"></i> 10 pacientes do saguão</li>
            </ul>
        </div>
        <div class="clearfix visible-xs">
        </div>
        <div class="col-xs-12 col-sm-3 col-lg-6">
            <h4>Últimas Atualizações</h4>
        </div>
    </div>
</div>

<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="row">
        <div id="nextSurgeries" class="col-xs-12 col-sm-6 col-lg-6">
            <h4>Próximas Cirurgias Agendadas</h4>
            <div class="hidden-xs">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Username</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>Mark</td>
                            <td>Otto</td>
                            <td>@@mdo</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>Jacob</td>
                            <td>Thornton</td>
                            <td>@@fat</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td colspan="2">Larry the Bird</td>
                            <td>@@twitter</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="visible-xs">
                <ul>
                    <li>Linha 1</li>
                    <li>Linha 2</li>
                    <li>Linha 3</li>
                    <li>Linha 4</li>
                    <li>Linha 5</li>
                </ul>
            </div>
        </div>
        <div class="clearfix visible-xs">
            &nbsp;
        </div>
        <div id="lastMedicalRecordsUpdated" class="col-xs-12 col-sm-6 col-lg-6 ">
            <h4>Últimos prontuários atualizados</h4>
            <div class="hidden-xs">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Username</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>Mark</td>
                            <td>Otto</td>
                            <td>@@mdo</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>Jacob</td>
                            <td>Thornton</td>
                            <td>@@fat</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td colspan="2">Larry the Bird</td>
                            <td>@@twitter</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="visible-xs">
                <ul>
                    <li>Linha 1</li>
                    <li>Linha 2</li>
                    <li>Linha 3</li>
                    <li>Linha 4</li>
                    <li>Linha 5</li>
                </ul>
            </div>
        </div>
    </div>
</div>
