﻿html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

#container {
    min-height: 100%;
    position: relative;
}

.panel-body {
    padding-bottom: 5px;
}

.container {
    min-height: 100%;
    position: relative;
}

.header {
    width: 100%;
    height: 35px;
    margin-left: 0px;
    margin-right: 5px;
    background-image: url("/Content/images/barraSuperior.png");
    background-repeat: repeat-x;
    left: 0;
    z-index: 999;
    position: absolute;
    float: left;
    top: 0;
}

#body {
    padding-bottom:60px;   /* Height of the footer */
    margin-bottom: 50px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px; /* Height of the footer */
    border-top: 1px solid #eeeeee;
    padding-top: 15px;
}

.headerIndicators {
    padding-right: 0px;
    padding-left: 0px;
    z-index: 1000;
}

    .headerIndicators div {
        padding: 0px;
        padding-top: 6px;
        height: 34px;
        text-align: center;
        width: 70px;
        float: right;
        cursor: pointer;
    }

        .headerIndicators div span.badge {
            font-size: 8pt;
        }

        .headerIndicators div:hover {
            background-image: url("/Content/images/barraSuperiorMarcada.png");
            display: inline-block;
        }

.menuHeader:hover {
    background-image: url("/Content/images/barraSuperiorMarcada.png");
    display: inline-block;
}

.menuHeader {
    padding-top: 6px;
    padding-left: 10px;
    width: 42px;
    cursor: pointer;
    z-index: 1000;
}

.menuHeaderLogo {
    padding-left: 5px;
    padding-top: 6px;
    z-index: 1000;
}

.menuHeaderSearch {
    padding: 0px;
}

#MenuItems {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    top: 35px;
    /*margin-left: 9px;*/
    height: auto;
    padding-bottom: 10px;
    padding-top: 10px;
    z-index: 10000;
}

    #MenuItems div#menuSearch, #MenuItems div#menuFeatures, #MenuItems div#menuUsername {
        padding-left: 0px;
        padding-right: 0px;
    }

#menuUsername {
    height: auto;
    text-align: center;
    padding: 5px;
}

    #menuUsername i {
        color: lightblue;
    }

    #menuUsername span {
        font-size: 12px;
        font-weight: bold;
        color: #000;
    }

#searchTerms {
    margin-bottom: 10px;
}

#searchResult {
    margin-bottom: 15px;
}

#paging-top, #paging-bottom {
    text-align: right;
}

    #paging-top ul, #paging-bottom ul {
        margin-top: 0px;
        margin-bottom: 0px;
        float: right;
    }

#accordion ul {
    padding-left: 10px;
}

    #accordion ul li {
        list-style: none;
        padding: 5px;
        padding-left: 0px;
    }

    #accordion ul.pagination {
        float: right;
    }

#accordion h4.panel-title {
    font-weight: bold;
    font-size: 13.5px;
}

#accordion .panel-heading {
    padding: 10px 7.5px;
}

#accordion .panel-body {
    padding: 0px;
    padding-bottom: 5px;
}

    #accordion .panel-body ul {
        margin-bottom: 3px;
        padding-left: 20px;
    }

.relationTable {
    border: 1px solid #ddd;
}

.selectedRow {
    background-color: #dddddd;
}

/* iPad [portrait + landscape] */
/*@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
	.selector-01 { margin: 10px; }
	.selector-02 { margin: 10px; }
	.selector-03 { margin: 10px; }
}*/

/* iPhone [portrait + landscape] */
/*@media only screen and (max-device-width: 480px) {
	.selector-01 { margin: 10px; }
	.selector-02 { margin: 10px; }
	.selector-03 { margin: 10px; }
}*/

/* estilos p/ iphone */
@media only screen and (max-device-width: 480px) {

    .headerIndicators {
        display: none;
    }

    .ui-pnotify {
        margin-right: -10px;
    }

    table, thead, tbody, th, td, tr {
        display: block;
        border: 0px;
    }

        table thead tr {
            position: absolute;
            top: -9999px;
            left: -9999px;
        }

        table tr {
            border: 1px solid #ccc;
            margin-bottom: 5px;
        }

            table tr input {
                margin-top: 25px;
                margin-left: 0px;
                padding-left: 3px;
            }

                table tr input[type=text] {
                    width: 95%;
                }

            table tr button {
                margin-top: 0px;
                margin-left: 0px;
            }

        table td {
            /* Behave  like a "row" */
            border: none;
            border: 0px;
            position: relative;
            padding-left: 50%;
            white-space: normal;
            text-align: left;
        }

            table td:before {
                /* Now like a table header */
                position: absolute;
                /* Top/left values mimic padding */
                top: 6px;
                left: 6px;
                width: 45%;
                padding-right: 10px;
                white-space: nowrap;
                text-align: left;
                font-weight: bold;
                content: attr(data-title);
            }

    /* Force table to not be like tables anymore */
    #searchResult table,
    #searchResult thead,
    #searchResult tbody,
    #searchResult th,
    #searchResult td,
    #searchResult tr {
        display: block;
    }

        /* Hide table headers (but not display: none;, for accessibility) */
        #searchResult thead tr {
            position: absolute;
            top: -9999px;
            left: -9999px;
        }

    #searchResult tr {
        border: 1px solid #ccc;
    }

    #searchResult td {
        /* Behave  like a "row" */
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50%;
        white-space: normal;
        text-align: left;
    }

        #searchResult td:before {
            /* Now like a table header */
            position: absolute;
            /* Top/left values mimic padding */
            top: 6px;
            left: 6px;
            width: 45%;
            padding-right: 10px;
            white-space: nowrap;
            text-align: left;
            font-weight: bold;
            content: attr(data-title);
        }
}

/* estilos p/ ipad */
/*@media only screen and (min-device-width: 769px) and (max-device-width: 1024px) {

    .headerIndicators {
        display: none;
    }

    #MenuItems {
        float: left;
        position: relative;
        width: 100%;
        margin-top: 5px;
        height: auto;
    }

    #paging-top, #paging-bottom {
        text-align: center;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    #listActions {
        text-align: center;
    }
}*/


@-webkit-viewport {
    width: device-width;
}

@-moz-viewport {
    width: device-width;
}

@-ms-viewport {
    width: device-width;
}

@-o-viewport {
    width: device-width;
}

@viewport {
    width: device-width;
}
